<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easeoffapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EaseOffApplication"
        tools:targetApi="31">
        <activity
            android:name=".mindandyou.MindMeditationTimes"
            android:label="Meditated Time"
            android:parentActivityName=".mindandyou.MindMeditate"
            android:exported="false" />

        <activity
            android:name=".mindandyou.MindThoughtJournalUpdate"
            android:exported="false"
            android:parentActivityName=".mindandyou.MindThoughtJournal" />
        <activity
            android:name=".NutriFacts"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindSleepFeedback"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindCreateJournal"
            android:exported="false"
            android:label="@string/mindCreateJournalLabel"
            android:parentActivityName=".mindandyou.MindThoughtJournal" />
        <activity
            android:name=".mindandyou.MindTips"
            android:exported="false"
            android:label="Mind Tips"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".mindandyou.MindMeditate"
            android:exported="false"
            android:label="Meditation Timer"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".mindandyou.MindSleep"
            android:label="Sleep Calculator"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindThoughtJournal"
            android:exported="false"
            android:label="ThoughtJournals"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".MyHealthyRecipies"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindAndYouDashboard"
            android:exported="false" />
        <activity
            android:name=".PlanMyDiet"
            android:exported="false" />
        <activity
            android:name=".TrackMyCalories"
            android:exported="false" />
        <activity
            android:name=".DietDashboard"
            android:exported="false" />
        <activity
            android:name=".PharmacyMain"
            android:exported="false" />
        <activity
            android:name=".DailyMedicine"
            android:exported="false" />
        <activity
            android:name=".DiseasesUpdate"
            android:exported="false" />
        <activity
            android:name=".Beauty"
            android:exported="false" />
        <activity
            android:name=".healthcare"
            android:exported="false" />
        <activity
            android:name=".MainDashboard"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>