<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easeoffapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EaseOffApplication"
        tools:targetApi="31">
        <activity
            android:name=".mindandyou.MindMeditationTimes"
            android:label="Meditated Time"
            android:parentActivityName=".mindandyou.MindMeditate"/>
        <activity
            android:name=".Healthcare.EditMedSchedule"
            android:label="Edit Schedule"
            android:parentActivityName=".Healthcare.DailyMedicine"
            android:exported="false" />
        <activity
            android:name=".Healthcare.EditMedLists"
            android:exported="false"
            android:label="Edit List"
            android:parentActivityName=".Healthcare.allMedLists" />
        <activity
            android:name=".Healthcare.allMedLists"
            android:exported="false"
            android:label="All medicine lists"
            android:parentActivityName=".Healthcare.PharmacyMain" />
        <activity
            android:name=".Healthcare.newMedList"
            android:exported="false"
            android:label="Medicine List"
            android:parentActivityName=".Healthcare.PharmacyMain" />
        <activity
            android:name=".Healthcare.EditMed"
            android:label="Edit Medicine"
            android:parentActivityName=".Healthcare.PharmacyMain"
            android:exported="false" />
        <activity
            android:name=".EatHealthy.NutriFacts"
            android:label="Nutritional Facts"
            android:parentActivityName=".EatHealthy.DietDashboard"
            android:exported="false" />

        <activity
            android:name=".mindandyou.MindThoughtJournalUpdate"
            android:exported="false"
            android:parentActivityName=".mindandyou.MindThoughtJournal" />
        <activity
            android:name=".mindandyou.MindSleepFeedback"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindCreateJournal"
            android:exported="false"
            android:label="@string/mindCreateJournalLabel"
            android:parentActivityName=".mindandyou.MindThoughtJournal" />
        <activity
            android:name=".mindandyou.MindTips"
            android:exported="false"
            android:label="Mind Tips"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".mindandyou.MindMeditate"
            android:exported="false"
            android:label="Meditation Timer"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".mindandyou.MindSleep"
            android:label="Sleep Calculator"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"
            android:exported="false" />
        <activity
            android:name=".mindandyou.MindThoughtJournal"
            android:exported="false"
            android:label="ThoughtJournals"
            android:parentActivityName=".mindandyou.MindAndYouDashboard"/>
        <activity
            android:name=".mindandyou.MindAndYouDashboard"
            android:exported="false" />
        <activity
            android:name=".EatHealthy.PlanMyDiet"
            android:label="Plan My Diet"
            android:parentActivityName=".EatHealthy.DietDashboard"
            android:exported="false" />
        <activity
            android:name=".EatHealthy.TrackMyCalories"
            android:label="Track My Calories"
            android:parentActivityName=".EatHealthy.DietDashboard"
            android:exported="false" />
        <activity
            android:name=".EatHealthy.DietDashboard"
            android:label="Diet Dashboard"
            android:parentActivityName=".MainDashboard"
            android:exported="false" />
        <activity
            android:name=".Healthcare.PharmacyMain"
            android:exported="false"
            android:label="Pharmacy"
            android:parentActivityName=".Healthcare.healthcare" />
        <activity
            android:name=".Healthcare.DailyMedicine"
            android:label="Daily Medicine"
            android:parentActivityName=".MainDashboard"
            android:exported="false" />
        <activity
            android:name=".Healthcare.DiseasesUpdate"
            android:label="Diseases Update"
            android:parentActivityName=".Healthcare.healthcare"
            android:exported="false" />
        <activity
            android:name=".Healthcare.healthcare"
            android:exported="false"
            android:label="Healthcare"
            android:parentActivityName=".MainDashboard" />
        <activity
            android:name=".SetGoal"
            android:exported="false" />
        <activity
            android:name=".MainDashboard"
            android:label="Dashboard"
            android:exported="false" />
        <activity
            android:name=".Workout"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:label="Ease Off"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".EatHealthy.Reminder"
            android:enabled="true"
            android:exported="true"/>
        <receiver 
            android:name=".Healthcare.AlarmReceiver"/>
</application>
</manifest>
